<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">We Help Great Companies</h2>
                <h3>Improve Their Digital Performance</h3>
                <p>we make data work for you</p>
                <div class="badges">
                    <a class="btn btn-outline btn-xl page-scroll" href="https://analytics3.typeform.com/to/joNZ7S" data-mode="1" target="_blank">Get a free Consultation</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm_share',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

                    <a class="btn btn-outline btn-xl page-scroll" href="#portfolio">Our Clients</a>
                </div>
            </div>
        </div>
    </div>
</section>
