
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>Can We Help?</h2>
               <a class="btn btn-outline btn-xl page-scroll" href="https://analytics3.typeform.com/to/joNZ7S" data-mode="1" target="_blank">Get in touch</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm_share',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
        
        <!-- <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul> -->
    </div>
</section>
<footer>
    <div class="container">
        <p> Contact us at contact@ilmuonedata.com </p>
        <p>2017 copyright by <a target="_blank" rel="nofollow" href="https://www.linkedin.com/company-beta/10523781/">Ilmuone data</a></p>
       
    </div>
</footer>
